# Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin/Android
bin/
gen/
out/
*.class
*.log
*.dex
*.apk

# Dependency directories
node_modules/
jspm_packages/
app/libs/

# Gradle
.gradle/
build/

# Testing
app/build/
app/test/
app/androidTest/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Virtual environment
venv/
.env

# IDE specific files
.vscode/
.idea/
*.ipr
*.iws

# Misc
*.swp
*.swo
.DS_Store